
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.helpers {

  display: block;
  margin: 8px 0 0;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 8px 0 0;
}
