
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 16px 0 88px;
}

.breadcrumbs {

  display: block;
}

.title {

  display: block;
  margin: 24px 0 0;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 24px 0 0;
}

.description {

  display: block;
  margin: 24px 0 0;
}

.attributes {

  display: block;
  margin: 24px 0 0;
}

.comments {

  display: block;
  margin: 24px 0 0;
}
