
@import "~@library/theme";


.wrapper {

  display: block;
  background: $white;
  border-radius: 8px;
  @include box-shadow('bottom');
}

.header {

  display: block;
  padding: 16px;
  border-bottom: 1px dotted $gray-light;
}

.content {

  display: block;
  padding: 16px;
}

.item {

  display: block;

  & + & {

    margin: 8px 0 0;
  }
}
