
@import "~@library/theme";


.wrapper {

  display: block;
  padding: 8px 0 0;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: $white;
  border-radius: 8px;
  padding: 8px;
  width: 600px;
  border: 1px solid $gray-light;
  @include box-shadow('bottom');
}
