
@import "~@library/theme";


.wrapper {

  display: block;
  width: 420px;
  padding: 40px 48px 56px;
}

.header {

  display: block;
  text-align: center;
}

.content {

  display: block;
  margin: 32px 0 0;
}

.controls {

  display: block;
  text-align: center;
  margin: 32px 0 0;
}

.field {

  display: block;

  & + & {

    display: block;
    margin: 16px 0 0;
  }
}
