
@import "~@library/theme";


.wrapper {

  display: block;
}

.content {

  position: relative;
  display: block;
}

.description {

  display: block;
  margin: 4px 0 0;
  text-align: center;
}

.image {

  display: none;
  z-index: 10;
}

.is-active {

  display: block;
}

.left,
.right {

  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: $info-light;
  background: rgba($gray-light, .4);
  margin: -12px 0 0;
  z-index: 20;
  cursor: pointer;

  &:hover {
    background: rgba($gray-light, .8);
  }
}

.left {

  left: -12px;
}

.right {

  right: -12px;
}