
@import "~@library/theme";


.wrapper {

  display: block;
  background: $white;
  padding: 32px 40px 48px;
  border-radius: 8px;
  @include box-shadow('bottom');
}

.header {

  display: block;
}

.content {

  display: block;
  margin: 48px 0 0;
}
