
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  width: 900px;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.controls {

  display: block;
  margin: 48px 0 0;
}

.buttons {

  display: block;
}

.description {

  display: block;
  margin: 24px 0 0;
}

.block {

  display: block;

  & + & {

    margin: 48px 0 0;
  }
}

.link {

  color: $primary-dark;
}
