
@import "~@library/theme";


.button {

  display: inline-block;
  padding: 15px 32px 12px;
  font-size: 13px;
  font-family: inherit;
  font-weight: $font-weight-bold;
  color: $white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 150ms, border-color 150ms;

  &:disabled,
  &:disabled:hover,
  &:disabled:active {

    border: 1px solid $gray-light;
    background: $gray-light;
    color: $gray;
    cursor: default;
  }
}

.mode {

  &--primary {

    border: 1px solid $primary;
    background: $primary;

    &:hover {
      background: $primary-dark;
      border-color: $primary-dark;
    }

    &:active {
      background: $primary;
      border-color: $primary;
    }
  }

  &--danger {

    border: 1px solid $danger;
    background: $danger;

    &:hover {
      background: $danger-dark;
      border-color: $danger-dark;
    }

    &:active {
      background: $danger;
      border-color: $danger;
    }
  }

  &--success {

    border: 1px solid $success;
    background: $success;

    &:hover {
      background: $success-dark;
      border-color: $success-dark;
    }

    &:active {
      background: $success;
      border-color: $success;
    }
  }

  &--info {

    border: 1px solid $info;
    background: $info;

    &:hover {
      background: $info-dark;
      border-color: $info-dark;
    }

    &:active {
      background: $info;
      border-color: $info;
    }
  }
}