
@import "~@library/theme";


.wrapper {

  position: relative;
  display: block;
}

.control {

  display: block;
}

.list {

  position: absolute;
  top: 100%;
  right: 0;
  display: inline-flex;
  flex-direction: column;
  flex: 1 0;
  padding: 4px 0 0;
  max-width: 280px;
  max-height: 280px;
  min-width: 180px;
  z-index: 1000;
}

.shadow {

  box-shadow: 0 4px 8px 0 $gray-light;
}