
@import "~@library/theme";


.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  border: 1px solid $gray;
  border-radius: $border-radius-small;
  padding: 4px 4px 3px;
}

.button {

  display: block;
  padding: 4px 4px 3px;
  color: $gray;
  font-size: 13px;
  cursor: pointer;
  transition: color 150ms;

  &:hover {

    color: $primary;
  }
}

.content {

  display: block;
  width: 20px;
  margin: 0 4px;
  text-align: center;
}

.value {

  display: block;
  color: $black;
  font-size: 14px;
  font-weight: $font-weight-medium;
}

.disabled,
.disabled:hover {

  color: $gray-light;
}