
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: flex-end;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  text-align: right;
}

.price {

  display: block;
  text-align: right;
}

.amount {

  font-size: 18px;
  font-weight: $font-weight-medium;
}

.controls {

  display: block;
  margin: 16px 0 0;
}

.bucket {

  display: block;
  text-align: right;
  margin: 8px 0 0;
  text-decoration: none;
}

.brand {

  display: block;
  height: 40px;
}
