
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: flex-end;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: flex-end;
}

.price {

  display: block;
  text-align: right;
}

.amount {

  font-size: 18px;
  font-weight: $font-weight-medium;
}

.controls {

  display: block;
  margin: 16px 0 0;
}

.bucket {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  margin: 8px 0 0;
  text-decoration: none;
  align-items: baseline;
  color: $gray;
  transition: color $transition-duration;

  &:hover {
    color: $gray-dark;
  }
}

.brand {

  display: block;
  height: 40px;
}

.icon {

  font-size: 12px;
  margin: 0 0 0 4px;
  color: inherit;
}