
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.line {

  display: block;

  & + & {

    margin: 4px 0 0;
  }
}

.gallery {

  display: block;
  width: 96px;
  height: 96px;
}

.common {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 16px;
}

.controls {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  margin: 0 0 0 24px;
}

.count {
  display: block;
}

.icon {

  display: block;
  margin: 0 0 0 6px;
}

.remove {

  display: inline-block;
  font-size: 12px;
  color: $danger;
  cursor: pointer;
  transition: color $transition-duration;

  &:hover {

    color: $danger-dark;
  }
}

.price {

  display: block;
  width: 120px;
  text-align: right;
  margin: 0 0 0 24px;
}

.link {

  text-decoration: none;
}

.info {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: baseline;
}
