
@import "~@library/theme";


.wrapper {

  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  border: 1px solid $gray-light;
  background: $success;
  border-radius: 8px;
  padding: 13px 12px 11px;
  cursor: pointer;
}

.logo {

  display: block;
}

.icon {

  color: $white;
  font-size: 18px;
}

.count {

  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 3px 0 0;
  border-radius: 50%;
  background: $info;
  font-size: 13px;
  font-weight: $font-weight-bold;
  color: $white;
  @include box-shadow('bottom');
}
