
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  margin: 16px 0;
  align-items: center;
}

.logotype {

  display: block;
  font-size: 0;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.controls {

  display: block;
  margin: 0 0 0 56px;
}
