
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  margin: 8px 0;
  align-items: center;
}

.logotype {

  display: block;
  font-size: 0;
}

.content {

  display: block;
  width: 306px;
}

.search {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.controls {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  margin: 0 0 0 56px;
}

.control {

  display: block;

  & + & {
    margin: 0 0 0 24px;
  }
}
