
@import "~@library/theme";


.button {

  display: inline-block;
  font-family: inherit;
  border-radius: $border-radius-small;
  cursor: pointer;
  background: transparent;
  transition: color 150ms, border-color 150ms;

  &:disabled,
  &:disabled:hover,
  &:disabled:active {

    border: 1px solid $gray;
    color: $gray;
    cursor: default;
  }
}

.size {

  &--small {

    font-size: 11px;
    padding: 10px 24px 9px;
  }

  &--middle {

    font-size: 14px;
    padding: 12px 32px 12px;
  }

  &--large {

    font-size: 14px;
    padding: 15px 32px 12px;
  }
}

.mode {

  &--primary {

    border: 1px solid $primary;
    color: $primary;

    &:hover {
      color: $primary-dark;
      border-color: $primary-dark;
    }

    &:active {
      color: $primary;
      border-color: $primary;
    }
  }

  &--danger {

    border: 1px solid $danger;
    color: $danger;

    &:hover {
      color: $danger-dark;
      border-color: $danger-dark;
    }

    &:active {
      color: $danger;
      border-color: $danger;
    }
  }

  &--success {

    border: 1px solid $success;
    color: $success;

    &:hover {
      color: $success-dark;
      border-color: $success-dark;
    }

    &:active {
      color: $success;
      border-color: $success;
    }
  }

  &--info {

    border: 1px solid $info;
    color: $info;

    &:hover {
      color: $info-dark;
      border-color: $info-dark;
    }

    &:active {
      color: $info;
      border-color: $info;
    }
  }
}