
@import "~@library/theme";


.wrapper {

  position: relative;
  display: block;
  padding: 24px;
}

.wrapper:hover .category {

  display: block;
}

.category {

  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  width: 220px;
  padding: 16px;
  background: $white;
  border-radius: 8px;
  @include box-shadow('bottom');
}