
@import "~@library/theme";


.wrapper {

  display: block;
}

.header {

  display: block;
  padding: 16px;
}

.content {

  display: block;
  padding: 8px 16px 16px;
}

.item {

  display: block;

  & + & {

    margin: 8px 0 0;
  }
}
