
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: $white;
  padding: 16px;
  border-radius: 8px;
  @include box-shadow('bottom');
}

.gallery {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 24px 0 0 88px;
}
