
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.code {

  display: block;
  text-align: right;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  margin: 4px 0 0;
}

.header {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.image {

  display: block;
  width: 64px;
  height: 64px;
  margin: 0 0 0 32px;
}
