
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 40px 0;
}

.text {

  color: $white;
}

.line {

  display: block;

  & + & {

    margin: 24px 0 0;
  }
}