
@import "~@library/theme";


.wrapper {

  display: block;
  width: 600px;
}

.content {

  display: block;
}

.fields {

  display: block;

  & + & {

    margin: 32px 0 0;
  }
}

.field {

  display: block;

  & + & {

    display: block;
    margin: 16px 0 0;
  }
}

.controls {

  display: block;
  margin: 40px 0 0;
}
