
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.item {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  white-space: nowrap;
  align-items: center;

  & + & {
    &:before {

      display: inline-block;
      content: '/';
      padding: 0 8px;
    }
  }
}

.home {

  font-size: 16px;
  color: $primary-dark;
}

.link {

  text-decoration: none;
  color: $dark;

  &:hover {

    text-decoration: underline;
  }
}

.name {

  color: $gray-dark;
}