
@import "~@library/theme";


.wrapper {

  display: inline-flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.image {

  display: block;
  width: 124px;
  height: 124px;
}

.empty {

  display: block;
  width: 124px;
  height: 124px;
  background: $gray-light;
}
