
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
}

.content {

  display: block;
  text-align: center;
}

.title {

  display: block;
  text-align: center;
  margin: 24px 0 0;
}
