
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 88px;
}

.breadcrumbs {

  display: block;
  margin: 16px 0 0;
}

.header {

  display: block;
  margin: 24px 0 0;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  margin: 24px 0 0;
}

.aside {

  display: block;
  width: 280px;
}

.container {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 24px;
}

.filter {

  display: block;
}

.list {

  display: block;
  margin: 16px 0 0;
}

.paging {

  display: block;
  margin: 16px 0 0;
}
