
@import "~@library/theme";


.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  border-radius: 6px;
  border: 1px solid $gray-light;
  background: $white;
  cursor: pointer;
  padding: 6px 12px;
  transition: border 150ms;

  &:hover {

    border-color: $info;
  }
}

.label {

  display: block;
  font-size: 14px;
  font-weight: $font-weight-light;
  color: $gray-dark;
  margin: 2px 12px 0 0;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.value {

  display: block;
  margin: 2px 0 0 12px;
}

.text {

  display: block;
  font-size: 14px;
  font-weight: $font-weight-medium;
  color: $dark;
}