
@import "~@library/theme";


.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  text-decoration: none;
}

.rating {

  display: block;
}

.comments {

  display: block;
  margin: 0 0 0 16px;
}
