
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.brand {

  display: block;
  text-align: center;
}

.image {

  display: block;
  text-align: center;
  margin: 8px 0 0;
}

.content {

  display: block;
  text-align: center;
  margin: 8px 0 0;
}

.modes {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 40px 0 0;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 18px 0 rgba(0,0,0, 0.1);
}
