
@import "~@library/theme";


.wrapper {

  display: block;
}

.header {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: baseline;
}

.author {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: 6px 0 6px 10px;
  border-radius: 6px;
  background: linear-gradient(to right, rgba($info-light, .1), transparent);
}

.name {

  display: block;
}

.rating {

  display: block;
  margin: 0 0 0 24px;
}

.date {

  display: block;
}

.content {

  display: block;
  margin: 32px 12px 0;
}

.controls {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  margin: 40px 0 0;
}

.comment {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.likes {

  display: block;
}

.link {

  display: inline-block;
  font-size: 14px;
  font-weight: $font-weight-medium;
  color: $primary;
  cursor: pointer;

  &:hover {

    text-decoration: underline;
  }
}