
@import "~@library/theme";


.wrapper {

  display: block;
}

.header {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: baseline;
}

.author {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: 6px 0 6px 10px;
  border-radius: 6px;
  background: linear-gradient(to right, rgba($info-light, .1), transparent);
}

.name {

  display: block;
}

.rating {

  display: block;
  margin: 0 0 0 12px;
}

.date {

  display: block;
}

.content {

  display: block;
  margin: 32px 12px 0;
}
