
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: $white;
  border-radius: 8px;
  min-height: 474px;
  @include box-shadow('bottom');
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 16px 0 0;
}

.item {

  display: block;
}

.control {

  display: block;
  border-top: 1px solid $gray-light;
  padding: 24px;
  text-align: center;
}

.link {

  display: inline-block;
  font-size: 13px;
  font-weight: $font-weight-medium;
  color: $dark;
  transition: color $transition-duration;

  &:hover {

    color: $info;
  }
}
