
@import "~@library/theme";


.wrapper {

  display: block;
}

.content {

  display: block;
}

.vendor {

  display: block;
  margin: 8px 0 0;
}

.link {

  text-decoration: none;
}

.title {

  transition: color $transition-duration;

  &:hover {

    color: $info;
  }
}
