
// ANIMATION DURATION

$transition-duration: 250ms;


// BORDER RADIUS

$border-radius-small: 4px;
$border-radius-middle: 8px;
$border-radius-large: 12px;


// FONT WEIGHT

$font-weight-light: 300;
$font-weight-medium: 600;
$font-weight-bold: 700;


// COLORS

$danger:           #D4381E !default;
$danger-dark:      #B62912 !default;
$danger-light:     #E35F4A !default;

$primary:          #077DEE !default;
$primary-dark:     #006CD3 !default;
$primary-light:    #2896FF !default;

$success:          #48B820 !default;
$success-dark:     #43AD1E !default;
$success-light:    #70D24E !default;

$info:             #FF7917 !default;
$info-dark:        #F26601 !default;
$info-light:       #FF9243 !default;

$gray:             #D9D9D9 !default;
$gray-dark:        #ACACAC !default;
$gray-light:       #F4F4F4 !default;

$white:            #FFFFFF !default;
$light:            #FEFEFA !default;
$smoke:            #fafaf7 !default;
$dark:             #616161 !default;
$black:            #2C2C2C !default;


// MIXINS

@mixin box-shadow($direction: bottom) {
  @if ($direction == right) {
    border: 1px solid rgba($black, .07);
    box-shadow: 1px 0 1px 0 rgba($black, .2);
  }
  @else if ($direction == bottom) {
    border: 1px solid rgba($black, .07);
    box-shadow: 0 1px 1px 0 rgba($black, .2);
  }
  @else if ($direction == left) {
    border: 1px solid rgba($black, .07);
    box-shadow: -1px 0 1px 0 rgba($black, .2);
  }
  @else if ($direction == top) {
    border: 1px solid rgba($black, .07);
    box-shadow: 0 -1px 1px 0 rgba($black, .2);
  }
  @else {
    @error "Unknown direction #{$direction}.";
  }
}
