
@import "~@library/theme";


.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  opacity: .8;
}

.icon {

  font-size: 12px;
  cursor: pointer;
}

.value {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  margin: 2px 12px 0;
}

.text {

  display: block;
  font-size: 14px;
  font-weight: $font-weight-bold;
  color: $danger-light;

  & ~ & {

    color: $success-light;
  }
}

.danger {

  color: $danger;
}

.success {

  color: $success;
}

.delimiter {

  display: inline-block;
  border: 2px solid $gray-dark;
  border-radius: 50%;
  margin: 0 4px;
}