
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: 24px;
  border-radius: 8px;
  background: $white;
  @include box-shadow('bottom');
}

.gallery {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 32px;
  justify-content: flex-start;
}

.controls {

  display: block;
  margin: 0 0 0 32px;
}

.more {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 12px;
  color: $primary;
}
