
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: $white;
  border-radius: $border-radius-small;
  @include box-shadow('bottom');
  overflow: hidden;
}

.container {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: 16px 24px 16px 16px;
  box-shadow: 2px 0 10px 2px rgba($black, 10%);
}

.gallery {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 24px;
  justify-content: flex-start;
}

.controls {

  display: block;font-size: 0;
  padding: 16px 24px 16px 0;
  width: 240px;
}
