
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.price {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.label {

  display: block;
  margin: 3px 0 0 16px;
}

.amount {

  display: block;
  font-size: 18px;
  font-weight: $font-weight-bold;
  color: $dark;
}

.bucket {

  display: block;
}

.button {

  display: block;
  margin: 0 0 0 32px;
}