
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  background: $white;
  padding: 16px;
  border-radius: 8px;
  @include box-shadow('bottom');
}

.line {

  display: block;

  & + & {

    margin: 8px 0 0;
  }
}

.image {

  display: block;
  width: 124px;
  height: 124px;
}

.common {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 16px;
}

.controls {

  display: block;
  margin: 0 0 0 32px;
}

.counter {

  display: block;
}

.destroy {

  display: block;
  margin: 8px 0 0;
  text-align: center;
}

.remove {

  display: inline-block;
  font-size: 12px;
  font-weight: $font-weight-medium;
  color: $danger;
  cursor: pointer;

  &:hover {

    text-decoration: underline;
  }
}

.price {

  display: block;
  text-align: right;
  width: 200px;
}
