
@import "~@library/theme";


.wrapper {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.item {

  display: block;

  & + & {

    margin: 8px 0 0;
  }
}

.controls {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  margin: 16px 0 0;
  padding: 16px 0 0;
  border-top: 1px solid $gray-light;
  align-items: center;
}

.price {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.buttons {

  display: block;
}
