
@import "~@library/theme";


.wrapper {

  display: block;
  text-align: right;
}

.price {

  display: block;
  text-align: right;
}

.controls {

  display: block;
  text-align: right;
  margin: 16px 0 0;
}
