
@import "~@library/theme";


.wrapper {

  display: block;
  border: 1px solid $gray-light;
  border-radius: $border-radius-small;
  padding: 12px 18px;
  text-align: center;
  cursor: pointer;

  &:hover {
    border-color: $gray-dark;
  }
}

.active,
.active:hover {

  border-color: $info;
}
