
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.module {

  display: block;
  width: 100%;
}

.footer {

  display: block;
}

.container {
  
  display: block;
  margin: 0 auto;
  width: 1200px;
}
