
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: $white;
  border-radius: $border-radius-small;
  @include box-shadow('bottom');
}

.item {

  display: block;

  & + & {

    margin: 0 0 0 16px;
  }
}
