
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.content {

  display: block;
}

.controls {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 32px 0 0;
}

.title {

  display: block;
}

.brand {

  display: block;
  margin: 16px 0 0;
}

.more {

  display: block;
  text-align: right;
}

.link {

  display: inline-block;
  font-size: 12px;
  color: $primary;
}
