
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.content {

  display: block;
}

.link {

  display: inline-block;
  color: $dark;
  text-decoration: none;

  &:hover {

    text-decoration: underline;
  }
}

.controls {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 32px 0 0;
}

.title {

  display: block;
}

.brand {

  display: block;
  margin: 16px 0 0;
}

.more {

  display: block;
  text-align: right;
}
