
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

@import "./reset.css";
@import "./fonts/css/all.min.css";

@import "~@library/kit";
@import "~@library/design";

@import "~@layout/default";
@import "~@layout/no-cart";

@import "~@package/push";
@import "~@package/dialog";

@import "~@widget/bucket";

@import "~@module/main";
@import "~@module/groups";
@import "~@module/product";
@import "~@module/products";
@import "~@module/checkout";
@import "~@module/categories";


html,
body {

    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    overflow: auto;
}

#__next {

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    z-index: 0;
}

#push {

    position: fixed;
    right: 24px;
    bottom: 24px;
    display: block;
    z-index: 120;
}

#dialog {

    position: relative;
    display: block;
    z-index: 100;
}
