
@import "./reset.css";
@import "./fonts/css/all.min.css";

@import "~@library/kit";

@import "~@layout/default";
@import "~@layout/no-cart";

@import "~@package/dialog";

@import "~@widget/bucket";

@import "~@module/main";
@import "~@module/product";
@import "~@module/checkout";


html,
body {

    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
}

#__next {

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
}