
@import "./reset.css";


@import "~@library/kit";

@import "~@layout/default";

@import "~@package/dialog";

@import "~@module/main";
@import "~@module/product";


html,
body {

    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
}

#__next {

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
}