
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.price {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.amount {

  display: block;
  font-size: 24px;
  font-weight: $font-weight-bold;
  color: $black;
}

.bucket {

  display: block;
}

.button {

  display: block;
  margin: 0 0 0 32px;
}